// Figma: https://www.figma.com/design/3JvbUyTqbbPL8cCpwSX0j4/Origin-design-system?node-id=5867-147

@use '../../tokens/text-styles' as *;
@use '../../tokens/mixins' as *;

.input {
  @include input;

  display: block;
  height: 36px;
  box-sizing: border-box;
  padding-inline: var(--spacing-sm);
  border: var(--stroke-sm) solid var(--border-tertiary);
  @include smooth-corners(var(--corner-radius-sm));
  color: var(--text-primary);
  outline: none;
  transition:
    border-color 150ms ease,
    box-shadow 150ms ease;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:focus {
    @include input-focus;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-invalid] {
    @include input-critical;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
