// Figma: https://www.figma.com/design/3JvbUyTqbbPL8cCpwSX0j4/Origin-design-system?node-id=5867-147

@use '../../tokens/text-styles' as *;

.input {
  @include body;

  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-inline: var(--spacing-sm);
  background-color: var(--surface-primary);
  border: var(--stroke-sm) solid var(--border-tertiary);
  border-radius: var(--corner-radius-md);
  color: var(--text-primary);
  font-feature-settings: 'salt' 1;
  outline: none;
  transition:
    border-color 150ms ease,
    box-shadow 150ms ease;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:focus {
    border-color: var(--border-primary);
    box-shadow: var(--input-focus);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-invalid] {
    border-color: var(--border-critical);

    &:focus {
      border-color: var(--border-critical);
      box-shadow: var(--input-focus-critical);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.md {
  height: 36px;
  padding-block: 8px;
}

.lg {
  height: 40px;
  padding-block: 10px;
}
