# Required for npm install (Central Icons license)
CENTRAL_LICENSE_KEY=

# Required for npm run figma:styles and npm run figma:node
FIGMA_TOKEN=

# Required for npm run figma:styles (Figma design file key)
FIGMA_FILE_KEY=
