// Figma: https://www.figma.com/design/3JvbUyTqbbPL8cCpwSX0j4/Origin-design-system?node-id=5902-4405

@use '../../tokens/text-styles' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  @include label;

  display: flex;
  align-items: center;
  padding-inline: var(--spacing-3xs);
  color: var(--text-primary);
}
