// Figma: https://www.figma.com/design/3JvbUyTqbbPL8cCpwSX0j4/Origin-design-system?node-id=2003-279

@use '../../tokens/text-styles' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.label {
  @include label-sm;

  display: flex;
  align-items: center;
  padding-inline: var(--spacing-3xs);
  color: var(--text-primary);
  font-feature-settings: 'salt' 1;
}

.description {
  @include body-sm;

  display: flex;
  align-items: center;
  padding-inline: var(--spacing-3xs);
  color: var(--text-secondary);
  font-feature-settings: 'salt' 1;
}

.error {
  @include body-sm;

  display: flex;
  align-items: center;
  padding-inline: var(--spacing-3xs);
  color: var(--text-red);
  font-feature-settings: 'salt' 1;
}
