/**
 * Suisse Intl Font Face Declarations
 * 
 * Only includes weights actually used in the design system:
 * - Regular (400) - body text
 * - Book (450) - component labels
 * - Medium (500) - headings, labels, buttons
 * - Mono Regular - code blocks
 */

// Suisse Intl - Regular (400)
@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 85%;
  descent-override: 15%;
  line-gap-override: 0%;
}

// Suisse Intl - Book (450)
@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Book.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  ascent-override: 85%;
  descent-override: 15%;
  line-gap-override: 0%;
}

// Suisse Intl - Medium (500)
@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 85%;
  descent-override: 15%;
  line-gap-override: 0%;
}

// Suisse Intl Mono - Regular
// Note: Font family matches token --font-family-mono value
@font-face {
  font-family: "Suisse Int'l Mono";
  src: url('/fonts/SuisseIntlMono-Regular-WebXL.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

