*,
*::before,
*::after {
  box-sizing: border-box;
  font-feature-settings: inherit;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
}

input,
textarea,
select {
  background: transparent;
}

button {
  background: transparent;
  cursor: pointer;
}

:root {
  font-feature-settings: "salt" 1, "kern" 1;
}
